@charset "utf-8";

header {
    border: 2px solid black;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.div1 {
    width: 1200px;
    height: 2000px;
    border: 2px solid black; 
}

.div2 {
    float: left;
}

.nav1 {
    display: inline;
    float: left;
}

.ul {
    border: 1px solid black;
}

.li1 {
    list-style-type: none;
    padding: 10px;
    margin: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
    border: 2px solid black;
    float: right;
    font-weight: bold;
}