@charset "utf-8";

.body {
    margin:0px;
    display: block;
}
#a {
    color:white;
}
#c {
    color: coral;
}
#w {
    color:white;
}
#tdc {
    color:coral;
}
#L {
    font-weight:bold
}
#L {
    color:white;
}
#L {
    background-color: blue;
}
#L {
    text-align: center;
}
#g {
    color:green;
}
#tdc {
    background-color: black;
}

@font-face {
    font-family: "Open Sans","arial","Apple SD Gothic Neo","Noto Sans CJK KR","본고딕","KoPubDotum","나눔바른고딕","나눔고딕","NanumGothic","맑은고딕","Malgun Gothic";
    src: url();
}
