@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.hexagram {
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 50px solid aqua;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    margin: 40px auto;
}

.hexagram::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 15px;
    left: -25px;
    border-top: 50px solid aqua;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.hexagon {
    position: relative;
    width: 100px;
    height: 55px;
    background-color: aqua;
    margin: 80px auto;
}

.hexagon::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid aqua;
}

.hexagon::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid aqua;
}