@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 10px;

    transition-property: all;
    transition-duration: 2s;
}

#box1:hover {
    width: 200px;
    height: 50px;
    background-color: blue;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 10px;

    transition-property: width, height;
    transition-duration: 5s, 1s;
}

#box2:hover {
    width: 200px;
    height: 50px;
    background-color: blue;
}

#box3 {
    width: 100px;
    height: 100px;
    background-color: orange;

    transition: all 3s ease-in;
    margin: 10px;
}

#box3:hover {
    width: 200px;
    height: 200px;
    background-color: orangered;
    transform: rotate(270deg);
}

section > div {
    width: 100px;
    height: 50px;
    float: left;
    background-color: darkblue;
    color: white;
    text-align: center;
    line-height: 50px;

    transition-property: height;
    transition-duration: 3s;

    margin: 10px;
}

section:hover > div {
    height: 400px;
}

#ease{
    transition-timing-function: ease;
}

#ease-in {
    transition-timing-function: ease-in;
}

#ease-in-out {
    transition-timing-function: ease-in-out;
}

#linear {
    transition-timing-function: linear;
}

#cubic-bezier1 {
    transition-timing-function: cubic-bezier(.03,.94,1,.16);
}

#cubic-bezier2 {
    transition-timing-function: cubic-bezier(1,0,0,.98);
}

#cubic-bezier3 {
    transition-timing-function: cubic-bezier(.06,.99,0,.95);
}