@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --count: 16;
    --radius: 40;
    --bigradius: 200;
}

body {
    background-color: black;
}

#wrap {
    width: calc(var(--bigradius) * 2px);
    height: calc(var(--bigradius) * 2px);
    margin: 50px auto;
    position: relative;
}

.box {
    width: calc(var(--radius) * 2px);
    height: calc(var(--radius) * 2px);
    border:  3px solid white;
    border-radius: 50%;
    position: absolute;
    transform-origin: calc(var(--radius) * 1px) calc(var(--bigradius) * 1px);
    transform: rotate(calc(360/var(--count) * var(--p) * 1deg));

    top: 0px;
    left: calc((var(--bigradius) - var(--radius)) * 1px);
}

.box :nth-child(1) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(2) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(3) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(4) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(5) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(6) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(7) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(8) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(9) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(10) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(11) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(12) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(13) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(14) {
    animation-name: circle;
    animation-duration: 4s infinite;
}

.box :nth-child(15) {
    animation-name: circle;
    animation-duration: infinite;
    animation-direction: reverse;
}

@keyframes circle {
    from {
        width: 0;
        height: 0;
        opacity: 1;
        border-color: gold;
    }
    60% {
        border-color: limegreen;
    }
    80% {
        border-color: lightcoral;
    }
    90% {
        border-color: cornflowerblue;
    }
    to {
        width: calc(var(--radius) * 3px);
        height: calc(var(--radius) * 3px);
        opacity: 0;
        border-color: black;
    }
}

@keyframes reverse-circle {
    from {
        width: calc(var(--radius) * 3px);
        height: calc(var(--radius) * 3px);
    }

}